@{
    ViewData["Title"] = "Grid";
}

<style> 
    .modal {
    text-align: center;
    padding: 0 !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

</style>
<div class="container">
    <br/>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <h1> TUẦN LÀM VIỆC </h1>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            @* @(Html.Kendo().Button()
                        .Name("AddTuan")
                        .Content("Thêm")
                        .HtmlAttributes(new { type = "button", @class = "k-button"})
                ) *@
            <button class="k-button" data-toggle="modal" data-target="#myModal" style="margin-left:140px;">Thêm tuần </button>

            @(Html.Kendo().Button()
                    .Name("XoaTuan")
                    .Content("Xóa")
                    .HtmlAttributes(new { type = "button", @class = "k-button", style = "margin-left:20px;" })
            )
            @(Html.Kendo().Button()
                    .Name("KhoaKeHoachTuan")
                    .Content("Khoá kế hoạch tuần")
                    .HtmlAttributes(new { type = "button", @class = "k-button", style = "margin-left:20px;" })
            )
        </div>

    </div>

</div>
    
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @(Html.Kendo().Grid<CoreApp.Models.DmThang>()
                .Name("grid")
                .ToolBar(toolBar => {
                    toolBar.ClientTemplateId("GridToolBarTemplate");
                }) 
                .Columns(columns => 
                    {
                        columns.Select().Width(50);
                        columns.Bound(month => month.Id).Hidden();
                        columns.Bound(month => month.TenThang).Title("Tên tháng").Width(200);
                        columns.Bound(month => month.NgayBatDau).Title("Ngày bắt đầu").Width(200).Format("{0:dd/MM}");
                        columns.Bound(month => month.NgayKetThuc).Title("Ngày kết thúc").Width(200).Format("{0:dd/MM}");
                        columns.Command(command => command.Custom("Cập nhật").Click("EditGrid"));//ClientHeaderTemplate(@"<img src='" + @Url.Content("~/Shared/web/edit.png") + "/>'");
                    }
                )
                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                .DataSource(dataSource => 
                    dataSource.Ajax().Model(model => {
                        model.Id(m => m.Id);
                    }).Read(read => read.Action("Months_Read","Grid"))
                )             
                .Pageable()
                .AutoBind(true)
                .Pageable(page => page.PageSizes(true).Refresh(true))
                .Scrollable(src => src.Height(600))
                .Sortable()
                .Resizable(resize => resize.Columns(true))
                .ClientDetailTemplateId("client-template")
            )   
            </div>           
        </div>
    </div>

<!-- Popup Them/cap nhat tuan lam viec-->
<div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" style="width:650px !important;"> 
          <div class="modal-content"> 
            <div class="modal-header"> 
              <h4 class="modal-title"> THÊM / SỬA TUẦN LÀM VIỆC </h4>
            </div>
            <div class="modal-body"> 
                
                <div class="container">
                    <div class="row">
                        <div class="col6">
                            <span style="margin-left:50px;"> Ngày bắt đầu * : </span>
                        </div>
                        <div class="col12">
                            @(Html.Kendo().DatePicker()
                                .Name("NgayBatDau")
                                .HtmlAttributes(new { style = "width: 100%; margin-left : 21px", title = "datepicker" }).Format("dd/MM/yyyy")
                            )
                            <br />
                            <br />

                        </div>
                        <span style="margin-left:50px;"> <font color="red"> * Ngày bắt đầu nên là ngày thứ hai đầu tiên trong tháng   </font> </span>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col6">
                            <span style="margin-left:50px;"> Ngày kết thúc * : </span>
                        </div>
                        <div class="col6">
                            @(Html.Kendo().DatePicker()
                            .Name("NgayKetThuc")
                            .HtmlAttributes(new { style = "width: 100%; margin-left : 20px", title = "datepicker" }).Format("dd/MM/yyyy")
                        )
                        </div>
                        <br />
                        <br />
                        <span style="margin-left:50px;"> <font color="red"> * Ngày kết thúc nên là ngày thứ sáu (hoặc bảy) của tuần cuối cùng <br/>(trong cùng một tháng hoặc tháng tiếp theo)</font> </span>
                        <br />
                        <br />
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col6">
                            <br/>
                            <br/>
                        @*<span> Giá trị : </span>*@
                        </div>

                        <div class="col6">
                            <br/>
                            <br/>
                            @(Html.Kendo().Button()
                                .Name("PhatSinhTuan")
                                .Content("Phát sinh tuần")
                                .HtmlAttributes(new { type = "button", style = "margin-left : 420px; margin-bottom:-20px;", @class = "k-button" })
                            )   
                        </div>
                    </div>
                </div>               
                <br/>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class="col12">
                            <div> 
                                <span id="ThongBao" hidden> Thông báo </span>
                            </div>
                            <center> 
                                @(Html.Kendo().Grid<CoreApp.Models.DmTuan>()
                                .Name("GridDmTuan")
                                .Columns(columns =>
                                {
                                    columns.Bound(tuan => tuan.SoThuTu).Title("Số thứ tự");
                                    columns.Bound(tuan => tuan.TenTuan).Title("Tên tuần"); 
                                    columns.Bound(tuan => tuan.TuNgay).Title("Từ ngày").Format("{0:dd/MM}");
                                    columns.Bound(tuan => tuan.DenNgay).Title("Đến ngày").Format("{0:dd/MM}");
                                    columns.Bound(tuan => tuan.SoGioLam).Title("Số giờ làm");
                                    columns.Bound(tuan=>tuan.IsDaKhoa).Title("Đã khoá").ClientTemplateId("template-checkbox");
                                }
                                 )
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .ServerOperation(false)
                                .Model(model => {
                                    model.Id( m => m.Id);
                                    model.Field(m => m.TenTuan);
                                    model.Field(m => m.SoThuTu);
                                    model.Field(m => m.TuNgay);
                                    model.Field(m => m.DenNgay);
                                    model.Field(m => m.SoGioLam);
                                    model.Field(m => m.IsDaKhoa);
                                    model.Field(m => m.SoThuTu);

                                }).Read(read => read.Action("PhatSinhTuanTheoThang","Tuan").Data("onReadDataNgay"))
                                )
                                .Pageable(page => page.PageSizes(true).Refresh(true))
                                .AutoBind(false)
                                .Sortable()
                                .Resizable(resize => resize.Columns(true))
                                .HtmlAttributes(new {style = "margin-left : 60px" })
                            )
                            </center>     
                        </div>
                    </div>
                </div>
                <br/> 
                <br/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <center> 
                                @(Html.Kendo().Button()
                                .Name("LuuVaThem")
                                .Content("Lưu và thêm")
                                .HtmlAttributes(new { type = "button", @class = "k-button" })
                                )

                                @(Html.Kendo().Button()
                                .Name("LuuVaDong")
                                .Content("Lưu và đóng")
                                .HtmlAttributes(new { type = "button", style = "margin-left : 20px", @class = "k-button" })
                                )

                                @(Html.Kendo().Button()
                                .Name("Dong")
                                .Content("Đóng")
                                .HtmlAttributes(new { type = "button", style = "margin-left : 20px", @class = "k-button" })
                                )
                            </center>
                        </div>
                    </div>
            </div>
          </div>
        </div>
</div>  
<!-- Popup thong bao ket qua-->
<div class="modal" id="myModalKetQua" role="dialog">
        <div class="modal-dialog modal-sm"> 
          <div class="modal-content"> 
            <div class="modal-body"> 
                <h6 id="ketQua"> Thông báo :  </h6>
            </div>
          </div>
        </div>
</div>  
<script id="client-template" type="text/kendo-tmpl"> 
    @(Html.Kendo().Grid<CoreApp.Models.DmTuan>()
        .Name("grid_#=Id#")
        .Columns(columns =>
        {
            columns.Bound(tuan => tuan.Id)
                    .Title(" ")
                   .ClientTemplate("<input select=\"selected\" data-field=\"Id\" type=\"checkbox\" value=\"\\#=Id\\#\" id=\"\\#=Id\\#\" class=\"ckb_grid_tuan\">")
                   .HeaderHtmlAttributes(new { style = "text-align:center" });
            columns.Bound(tuan => tuan.TenTuan).Title("Tên tuần"); ;
            columns.Bound(tuan => tuan.SoThuTu).Title("Số thứ tự");
            columns.Bound(tuan => tuan.TuNgay).Format("{0:dd/MM}").Title("Từ ngày"); 
            columns.Bound(tuan => tuan.DenNgay).Format("{0:dd/MM}").Title("Đến ngày");
            columns.Bound(tuan=>tuan.IsDaKhoa).Title("Đã khoá").ClientTemplateId("template-checkbox");

        }
            )
            .DataSource(dataSource => {
                dataSource.Ajax().Model(model => {
                    model.Id(m => m.Id);
                }).Read(read => read.Action("Weeks_Read","Grid",new {@Idthang = "#=Id#"}));
            })
        .Pageable()
        .Sortable()
        .AutoBind(true)
        .Events(e => e.DataBound("onDataBound"))
        .ToClientTemplate()
    ) 
</script>

<script type="text/x-kendo-template" id="template-checkbox">
        #if(IsDaKhoa==true){#
            <input type="checkbox" checked="checked" disabled = "true"/>
        #}else{#
            <input type="checkbox"/>
        #}#
</script>

<script id="GridToolBarTemplate" type="x-kendo-template">

    <div class="toolbar">
         Tháng :
        @(Html.Kendo().DropDownList()
            .Name("ToolBarThang")
            .OptionLabel("All")
            .DataTextField("TenThang")
            .DataValueField("Id")
            .AutoBind(false)
            .Events(e => e.Change("ThangChange"))
            .HtmlAttributes(new { style = "width: 150px; margin-bottom :20px; margin-top:14px; margin-left:20px;" })
            .DataSource(ds =>
            {
                ds.Read("GetAllThang", "Thang");
            })
            .ToClientTemplate()

        )
        </div>
</script> 

<script type="text/javascript"> 
        function ThangChange() {
            var value = this.value(),
                grid = $("#grid").data("kendoGrid");

            if (value) {
                grid.dataSource.filter({ field: "Id", operator: "eq", value: value });
            } else {
                grid.dataSource.filter({});
            }
        }
</script>

<script>
    
    @*$(document).ready(function () {
        $("#NgayBatDau").kendoDateInput({
            format: "dd/MM/yyy"
        });
        $("#NgayKetThuc").kendoDateInput({
            format: "dd/MM/yyyy"
        });
    });*@



        function onDataBound() {
        var masterGrid = $("#grid").data("kendoGrid");
        var detailRows = masterGrid.element.find(".k-detail-row");
        for(var i = 0; i < detailRows.length; i++){
            var detailGrid = $(detailRows[i]).find(".k-grid").data("kendoGrid");
            if(detailGrid != null || detailGrid != undefined)
            {
                if(detailGrid._data.length > 0)
                {
                    for(var j= 0 ;j < detailGrid._data.length ; j++)
                    {
                        var item = detailGrid._data[j];
                        if(item.IsDaKhoa == true)
                        {
                            document.getElementById(item.Id).disabled = true;
                        }
                    }
                }
            }
        }
    }



    <!-- Lay gia tri cua Ngay bat dau va ngay ket thuc -->
    function onReadDataNgay()
    {
        return {
            ngayBatDau : $("#NgayBatDau").val(),
            ngayKetThuc : $("#NgayKetThuc").val()  
        }
        
    }

    $("#PhatSinhTuan").click(function () {
        $.ajax({
        url: '@Url.Action("PhatSinhTuanTheoThang","Tuan")',
        data: onReadDataNgay(),
        traditional: true,
        success: function(result) {
            if(result.success == false)
            {
                let idTag = document.getElementById("ketQua");
                var data = result.message;
                idTag.innerHTML = data;
                $("#myModalKetQua").modal("show");
                setTimeout(function(){
                    $('#myModalKetQua').modal('hide');
                },3000)
            }
            else {
                console.log("res " + result.data);
                searchResults = result;
                var dataSource = new kendo.data.DataSource({ data: searchResults });
                var grid = $('#GridDmTuan').data("kendoGrid");
                dataSource.read();
                grid.data(dataSource);
            }
        },
        })
         $('#GridDmTuan').data('kendoGrid').dataSource.read();
         $('#GridDmTuan').data('kendoGrid').refresh();
    })

    $("#LuuVaDong").click(function () {
        var grid2 = $("#GridDmTuan").data("kendoGrid");
        var rows2 = grid2.items();
        var i = 0;
        if (rows2.length == 0) {
            let idTag = document.getElementById("ketQua");
            var data = "Vui lòng chọn phát sinh tuần trước khi lưu";
            idTag.innerHTML = data;
            $("#myModalKetQua").modal("show");
            setTimeout(function () {
                $('#myModalKetQua').modal('hide');
            }, 3000)
        }
        else {
            $.ajax({
            url: "@Url.Action("ThemThang", "Thang")",
            type: 'POST',
            data : onReadDataNgay(),
            success : function(res){
                if(res.success == true)
                {
                    let idTag = document.getElementById('ThongBao');
                    idTag.removeAttribute("hidden");
                    alert("Thong bao : "+res.message);
                    $("#myModal").modal("hide");
                    $('#grid').data('kendoGrid').dataSource.read();
                    $('#grid').data('kendoGrid').refresh();
                    ClearSave();
                }
                else
                {
                    let idTag = document.getElementById('ThongBao');
                    idTag.removeAttribute("hidden");
                    alert("Thong bao : " + res.message);
                    @*idTag.append("Đã tồn tại tháng hiện tại vui lòng thử lại");
                    setTimeout(function () {
                        idTag.setAttribute("hidden", true);
                    }, 5000);*@
                }
            }
        })
        }


    })

    $("#Dong").click(function () {
        ClearSave();
        @*$("#NgayBatDau").val("");
        $("#NgayKetThuc").val("");
        $("#GridDmTuan").data("kendoGrid").dataSource.data([]);*@
        $('#myModal').modal('hide');
    })

    $("#XoaTuan").click(function(){
        debugger;
        var listIdDmThang = [];
        var listIdDmTuan = [];
        //Lay id cua bang cha
        var superGrid = $("#grid").data("kendoGrid");
        var selectRows = superGrid.select();
        $.each(selectRows,function(){
            var row = $(this);
            var dataItem = superGrid.dataItem(row);
            listIdDmThang.push(dataItem.Id);
        })

        var masterGrid = $("#grid").data("kendoGrid");
        var detailRows = masterGrid.element.find(".k-detail-row");
        for(var i = 0; i < detailRows.length; i++){
            var detailGrid = $(detailRows[i]).find(".k-grid").data("kendoGrid");
            if(detailGrid != null || detailGrid != undefined)
            {
                if(detailGrid._data.length > 0)
                {
                    for(var j= 0 ;j < detailGrid._data.length ; j++)
                    {
                        var item = detailGrid._data[j];
                        var checked = document.getElementById(item.Id).checked;
                        if(checked == true)
                        {
                            listIdDmTuan.push(item.Id);
                        }
                    }
                }
            }
            @* var select123 = detailGrid.select();
            $.each(select123,function(){
            var row = $(this);
            var dataItem = detailGrid.dataItem(row);
            .push(dataItem.Id);
        }); *@
        }


        for(var i = 0; i<listIdDmTuan.length;i++)
            console.log("Gia tri id : "+listIdDmTuan[i]);
        console.log("mang Id tuan : "+listIdDmTuan.length);
        if (listIdDmTuan.length == 0 && listIdDmThang.length == 0) {
            let idTag = document.getElementById("ketQua");
            var data = "Vui lòng chọn tháng và tuần để xoá";
            idTag.innerHTML = data;
            $("#myModalKetQua").modal("show");
            setTimeout(function () {
                $('#myModalKetQua').modal('hide');
            }, 3000)
            return;
        }
        if(confirm("Bạn có chắc chắn xoá?")){
            //Xoa Tuan
            @* $.ajax({
                url: "@Url.Action("XoaTuan", "Tuan")",
                type: 'POST',
                data : {listIdDmTuan : listIdDmTuan},
                success : function(res){
                    if(res.success == true)
                    {
                        console.log("okeeee");
                        console.log("message : "+res.message);
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                    else
                    {
                        let idTag = document.getElementById("ketQua");
                        var data = "";
                        for(var i = 0; i<res.list.length; i++)
                        {
                            data += res.list[i];
                        }
                        idTag.innerHTML = data;
                        $("#myModalKetQua").modal("show");
                        setTimeout(function(){
                            $('#myModalKetQua').modal('hide');
                        },3000)
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
        }
        }) *@
            //Xoa thang



            $.ajax({
                url: "@Url.Action("XoaThang", "Thang")",
                type: 'POST',
                data : {listIdDmThang : listIdDmThang},
                success : function(res){
                    if(res.success == true)
                    {
                        //Xoa Tuan
                        $.ajax({
                            url: "@Url.Action("XoaTuan", "Tuan")",
                            type: 'POST',
                            data : {listIdDmTuan : listIdDmTuan},
                            success : function(res){
                                if(res.success == true)
                                {
                                    let idTag = document.getElementById("ketQua");
                                    var data = "";
                                    data += res.message;
                                    idTag.innerHTML = data;
                                    $("#myModalKetQua").modal("show");
                                    setTimeout(function(){
                                        $('#myModalKetQua').modal('hide');
                                    },3000)
                                        $('#grid').data('kendoGrid').dataSource.read();
                                        $('#grid').data('kendoGrid').refresh();
                                }
                                else
                                {
                                    let idTag = document.getElementById("ketQua");
                                    var data = res.message;
                                    idTag.innerHTML = data;
                                    $("#myModalKetQua").modal("show");
                                    setTimeout(function(){
                                        $('#myModalKetQua').modal('hide');
                                    },3000)
                                    @* $('#grid').data('kendoGrid').dataSource.read();
                                    $('#grid').data('kendoGrid').refresh(); *@

                                    }
                                }
                            })
                            @* $('#grid').data('kendoGrid').dataSource.read();
                            $('#grid').data('kendoGrid').refresh(); *@
                    }
                    else
                    {
                        let idTag = document.getElementById("ketQua");
                        var data = "";
                        for(var i = 0; i<res.listIdError.length; i++)
                        {
                            data += res.listIdError[i];
                        }
                        idTag.innerHTML = data;
                        $("#myModalKetQua").modal("show");
                        setTimeout(function(){
                            $('#myModalKetQua').modal('hide');
                        },3000)
                    }
                }
            })

        };
    })

    @* $("#KhoaKeHoachTuan").click(function(){
        var masterGrid = $("#grid").data("kendoGrid");
        var detailRows = masterGrid.element.find(".k-detail-row");
        for(var i = 0; i < detailRows.length; i++){
            var detailGrid = $(detailRows[i]).find(".k-grid").data("kendoGrid");
            var select123 = detailGrid.select() ;
            $.each(select123,function(){
            var row = $(this);
            var dataItem = detailGrid.dataItem(row);
            listIdDmTuan.push(dataItem.Id);
        }
    }); *@

    $("#KhoaKeHoachTuan").click(function(){
        var listIdDmTuan = [];
        var masterGrid = $("#grid").data("kendoGrid");
        var detailRows = masterGrid.element.find(".k-detail-row");
        for(var i = 0; i < detailRows.length; i++){
            var detailGrid = $(detailRows[i]).find(".k-grid").data("kendoGrid");
            if(detailGrid != null || detailGrid != undefined)
            {
                if(detailGrid._data.length > 0)
                {
                    for(var j= 0 ;j < detailGrid._data.length ; j++)
                    {
                        var item = detailGrid._data[j];
                        var checked = document.getElementById(item.Id).checked;
                        if(checked == true)
                        {
                            listIdDmTuan.push(item.Id);
                        }
                    }
                }
            }
        }
        if(listIdDmTuan.length>0)
        {
            $.ajax({
                url: "@Url.Action("KhoaKeHoachTuan", "Tuan")",
                type: 'POST',
                data : {listIdDmTuan : listIdDmTuan},
                success : function(res){
                    if(res.success == true)
                    {
                        let idTag = document.getElementById("ketQua");
                        var data = res.message;
                        idTag.innerHTML = data;
                        $("#myModalKetQua").modal("show");
                        setTimeout(function(){
                            $('#myModalKetQua').modal('hide');
                        },3000)
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
            }
            })
        }
        else
        {
            let idTag = document.getElementById("ketQua");
            var data = "Vui lòng chọn tuần để khoá !";
            idTag.innerHTML = data;
            $("#myModalKetQua").modal("show");
            setTimeout(function(){
                $('#myModalKetQua').modal('hide');
            },3000)
        }
    });

    $("#LuuVaThem").click(function () {
        var grid2 = $("#GridDmTuan").data("kendoGrid");
        var rows2 = grid2.items();
        var i = 0;
        if (rows2.length==0) {
            let idTag = document.getElementById("ketQua");
            var data = "Vui lòng chọn phát sinh tuần trước khi lưu";
            idTag.innerHTML = data;
            $("#myModalKetQua").modal("show");
            setTimeout(function () {
                $('#myModalKetQua').modal('hide');
            }, 3000)
        }
        else {
            $.ajax({
            url: "@Url.Action("ThemThang", "Thang")",
            type: 'POST',
            data : onReadDataNgay(),
            success : function(res){
                if(res.success == true)
                {
                    let idTag = document.getElementById('ThongBao');
                    idTag.removeAttribute("hidden");
                    alert("Thong bao : " + res.message);
                    $('#grid').data('kendoGrid').dataSource.read();
                    $('#grid').data('kendoGrid').refresh();
                }
                else
                {
                    let idTag = document.getElementById('ThongBao');
                    idTag.removeAttribute("hidden");
                    idTag.append("Đã tồn tại tháng hiện tại vui lòng thử lại");

                }
            }
        })
        }


    });

    function ClearSave() {
        $("#NgayBatDau").val('');
        $("#NgayKetThuc").val('');
        $("#GridDmTuan").data("kendoGrid").dataSource.data([]);
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function EditGrid(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var nbd = formatDate(dataItem.NgayBatDau);
        var nkt = formatDate(dataItem.NgayKetThuc);
        $("#NgayBatDau").val(nbd);
        $("#NgayKetThuc").val(nkt);
        console.log(" ngay bat dau " + $("#NgayBatDau").val());
        $('#GridDmTuan').data('kendoGrid').dataSource.read();
        $('#GridDmTuan').data('kendoGrid').refresh();
        $("#myModal").modal("show");
        console.log("data Item :" + JSON.stringify(dataItem));
    }

</script>
